<!DOCTYPE html>
<html>
<head>
    <title>Code to image</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <style>
        {{ style }}
    </style>
</head>
<body>
<div id="main">
    <div id="title-bar">
        <div id="close"></div>
        <div id="minimize"></div>
        <div id="maximize"></div>
        <div id="filename">{{ filename }}</div>
    </div>
    <div id="code-area">{{ highlighted|safe }}</div>
    <div id="status-bar">
        <div id="language">{{ language }}</div>
    </div>
</div>
</body>
</html>